<div class="ingreso">

    <!--Encabezado del componente-->
    <h2 class="ingreso_titulo">Ingresos</h2>
    
    <!--Si no hay registros de ingresos, se muestra este mensaje de instruccion-->
    <div *ngIf="Ingresos.length ===0">
        <hr>
        <h4>Aun no se registran acciones de Ingresos</h4>
        <hr>
        <h4>Para iniciar Registre un ingreso Por favor!</h4>
        <hr>
    </div>

        <!--Se recorre el arreglo de InfoIngresos por medio de la directiva
        ngFor mostrando su Descripcion, valor y Opcion de eliminar-->
        <div class="elemento limpiarEstilos" *ngFor="let Element of Ingresos; index as i ">
            
            <!--Descripcion de un ingreso-->
            <div class="elemento_descripcion">{{Element.getDescription()}}</div>
            <div class="right limpiarEstilos">

                <!--Valor de un ingreso formateado con el pipe de currency-->
                <div class="elemento_valor" style="cursor:pointer">+ {{Element.getValue() |currency:'COL':'$ ':'1.2-2' }}</div>
                <div class="elemento_eliminar">

                    <!--Boton eliminar un ingreso, el cual envia por el evento click el indice-->
                    <button class="elemento_eliminar--btn" (click)="Delete(i)"> X
                    </button>
                </div>
            </div>
        </div>
       
        
</div>

